{
  font-family: "Roboto Nerd Font";
  font-size: 12px;
  min-height: 0;
  padding: 0 1px;
}

window#waybar {
  background: #1f2329;
  color: #dcdcdc;
  transition-duration: .5s;
  transition-property: background-color;
}

#workspaces {
  margin: 0 2px;
  padding: 0;
}

#workspaces button:hover {
  box-shadow: inset 0 -3px #8ebd6b;
}

#custom-sep {
  color: #535965;
  padding: 0 4px;
}

#battery {
  color: #bf68d9;
}

#clock {
  color: #48b0bd;
}

#workspaces button,#pulseaudio {
  color: #4fa6ed;
}

#workspaces button.focused,#custom-memory {
  color: #8ebd6b;
}

#workspaces button.urgent,#cpu {
  color: #e55561;
}

#cpu.icon,#backlight.icon,#custom-memory.icon,#custom-pacman.icon,#custom-dnf.icon,#pulseaudio.icon,#battery.icon,#clock.icon {
  font-family: "Iosevka david35mm";
  font-size: 14px;
  padding: 0;
}

#backlight,#custom-pacman,#custom-dnf {
  color: #e2b86b;
}
