{
	font-family: SF Pro Text;
	font-size: 12px;
	min-height: 0;
	padding: 0 1px;
}

window#waybar {
	background-color: #080808;
	color: #A0A8B7;
	transition-property: background-color;
	transition-duration: .5s;
}

#workspaces {
	padding: 0 0;
	margin: 0 2px;
}

#workspaces button {
	color: #4FA6ED;
}

#workspaces button:hover {
	box-shadow: inset 0 -3px #8EBD6B;
}

#workspaces button.focused {
	color: #8EBD6B;
}

#workspaces button.urgent {
	color: #E35374;
}

#custom-sep {
	color: #FFF;
	padding: 0 4px
}

#cpu {
	color: #E35374;
}

#cpu.icon {
	font-family: SF Mono;
	font-size: 14;
	padding: 0 0;
}

#backlight.icon {
	font-family: SF Mono;
	font-size: 14;
	padding: 0 0;
}

#backlight {
	color: #E2B86B;
}

#custom-memory {
	color: #8EBD6B;
}

#custom-memory.icon {
	font-family: SF Mono;
	font-size: 14;
	padding: 0 0;
}

#custom-pacman, #custom-dnf {
	color: #E2B86B;
}

#custom-pacman.icon, #custom-dnf.icon {
	font-family: SF Mono;
	font-size: 14;
	padding: 0 0;
}

#pulseaudio {
	color: #4FA6ED;
}

#pulseaudio.icon {
	font-family: SF Mono;
	font-size: 14;
	padding: 0 0;
}

#battery {
	color: #BF68D9;
}

#battery.icon {
	font-family: SF Mono;
	font-size: 14;
	padding: 0 0;
}

#clock {
	color: #48B0BD;
}

#clock.icon {
	font-family: SF Mono;
	font-size: 14;
	padding: 0 0;
}
