configuration {
  modi: "drun,run,window";
  font: "Roboto Nerd Font 12";
  show-icons: true;
  terminal: "alacritty";
  disable-history: true;
  timeoutaction: "kb-cancel";
  delay: 0;
}

filebrowser {
  directories-first: true;
  sorting-method: "name";
}
@theme "~/.config/rofi/theme.rasi"
